<%- include('./components/header.ejs'); %>

<body>
    <%- include('./components/nav.ejs'); %>

    <main class="post-details content">
        <h2><%= post['post-title'] %></h2>
        <p><%= post['post-body'] %></p>
        <a class="delete-btn" data-id="<%= post['_id'] %>">Delete</a>
    </main>

    <%- include('./components/footer.ejs'); %>

    <script>
        const deleteBtn = document.querySelector('.delete-btn');

        deleteBtn.addEventListener('click', () => {
            const endpoint = `/posts/${deleteBtn.dataset.id}`;

            // Send a delete request to the server
            fetch(endpoint, {
                method: 'DELETE'
            })
            .then(response => {
                window.location.href = '/posts';
            })
            .catch(err => {
                console.error(err);
            });
        });
    </script>
</body>
