<%- include('./components/header.ejs'); %>

<body>
    <%- include('./components/nav.ejs'); %>

    <main class="post-details content">
        <h2><%= post['post-title'] %></h2>
        <p><%= post['post-body'] %></p>
        <a class="delete-btn" data-id="<%= post['_id'] %>">Delete</a>
    </main>

    <%- include('./components/footer.ejs'); %>
</body>
