<%- include('./components/header.ejs'); %>

<body>
    <%- include('./components/nav.ejs'); %>

    <main class="posts content">
        <h2>Posts</h2>

        <% if (posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <a class="p-single" href="/posts/<%= post['_id'] %>">
                    <h3 class="p-title"><%= post['post-title'] %></h3>
                    <p class="p-body"><%= post['post-body'] %></p>
                    <small class="p-snippet"><%= post['post-snippet'] %></small>
                </a>
            <% }) %>
        <% } else { %>
            <h3>No posts, add something.</h3>
        <% } %> 
    </main>
    
    <%- include('./components/footer.ejs'); %>
</body>